---
import Header from "@/components/Header.astro";
import SessionList from "@/components/SessionList.astro";
import Layout from "@/layouts/Layout.astro";
import Footer from "@/components/Footer.astro";
---

<Layout>
  <Header />
  <main>
    <SessionList />
    <Footer />
  </main>
</Layout>
