---
import Apply from "@/components/Apply.astro";
import Header from "@/components/Header.astro";
import Introduction from "@/components/Introduction.astro";
import Kv from "@/components/Kv.astro";
import Timetable from "@/components/Timetable.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <Header />
  <main>
    <Kv />
    <Introduction />
    <Timetable />
    <Apply />
  </main>
</Layout>
