---
import Header from "@/components/Header.astro";
import Kv from "@/components/Kv.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <Header />
  <main>
    <Kv />
  </main>
</Layout>
