---
interface Props {
  tag?: "a" | "button";
  href?: string;
  isOutlined?: boolean;
}

const { tag = "a", href, isOutlined = false } = Astro.props;
---

{
  tag === "a" ? (
    <a
      href={href}
      class:list={[
        "button",
        "buttonBase",
        isOutlined ? "outlined" : "gradationDarkened",
      ]}
      target="_blank"
      rel="noopener noreferrer"
    >
      <slot />
    </a>
  ) : (
    <button
      class:list={[
        "button",
        "buttonBase",
        isOutlined ? "outlined" : "gradationDarkened",
      ]}
    >
      <slot />
    </button>
  )
}

<style>
  @import "../css/utils.css";

  .button {
    gap: 8px;
    padding: 16px 48px;
    font-size: 18px;
    line-height: 1em;
    letter-spacing: 0.04em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  }

  .outlined {
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #ffffff;
    box-shadow: none;
  }

  @media (hover: hover) {
    .button:hover {
      transform: scale(1.05);
    }
  }
</style>
