---
import Button from "@/components/Button.astro";
---

<section id="introduction" class="container">
  <div class="content">
    <div class="info">
      <h2 class="title">
        <div class="emphasis">
          <span class="middleGrad">東京発、</span>
        </div>
        <span class="break"></span>
        フロントエンドの交差点。
      </h2>
      <p class="message">
        ついに、フロントエンドのカンファレンスが東京にやってくる！<br
        />現場で向き合ってきた技術、語り合いたかった問い<br
        />それぞれの関心が交差し、新しいつながりが生まれる場所へようこそ！
      </p>
      <div class="datetime">
        <div class="dateInfo">
          <span class="dateLabel">DATE</span>
          <span class="dateValue">2025.09.21 SUN</span>
          <div class="dateLine"></div>
        </div>
        <div class="timeInfo">
          <div class="doorOpen">
            <span class="doorOpenText">DOOR OPEN</span>
            <span class="doorOpenTime">10:00</span>
          </div>
          <div class="eventStart">
            <span class="eventStartText">EVENT START</span>
            <span class="eventStartTime">10:30</span>
          </div>
        </div>
      </div>
      <div class="location">
        <p class="building">Abema Towers</p>
        <p class="address">
          〒150-0042<br />
          東京都渋谷区宇田川町40番1号 10F
        </p>
      </div>
      <div class="apply">
        <Button href="/">
          いますぐ参加申込する
          <span class="arrow"></span>
        </Button>
      </div>
    </div>
    <div class="map">
      <div class="mapInner">
        <iframe
          title="Map"
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12912.09909222013!2d139.7100532!3d35.6611749!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188cd0b4b7b3d1%3A0x3a8c7b3b7b3b3b3b!2z5pel5pys44Gu44Oq44O844Or44O8!5e0!3m2!1sja!2sjp!4v1693022400000!5m2!1sja!2sjp"
          width="472"
          height="472"
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          class="embed"></iframe>
      </div>
    </div>
  </div>
</section>

<style>
  @import "../css/utils.css";
  @import "../css/vars.css";

  .container {
    position: relative;
    padding: 0 16px;
    background-color: var(--bg-light);
  }

  .content {
    display: flex;
    gap: 24px;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    padding: 20px 0;
  }

  .info {
    z-index: var(--intro-contents-z-index);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .title {
    gap: 8px;
    margin: 0;
    font-size: 48px;
    font-weight: 900;
    line-height: 1.2;
    text-align: left;
  }

  .emphasis {
    position: relative;
  }
  .emphasis::before,
  .emphasis::after {
    content: "東京発、";
  }
  .emphasis::before {
    background: var(--grad-color-1);
    mix-blend-mode: var(--grad-blend-mode-1);
  }
  .middleGrad {
    background: var(--grad-color-2);
    mix-blend-mode: var(--grad-blend-mode-2);
  }
  .emphasis::after {
    background: var(--grad-color-3);
    mix-blend-mode: var(--grad-blend-mode-3);
  }
  .emphasis::before,
  .middleGrad,
  .emphasis::after {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    color: transparent;
    white-space: nowrap;
    -webkit-background-clip: text;
    background-clip: text;
  }

  .break {
    display: block;
    height: 60px;
  }
  .message {
    padding: 0;
    margin-top: 24px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.8;
    color: #ffffff;
    text-align: left;
    letter-spacing: 0.02em;
  }

  .datetime {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 32px;
  }

  .dateInfo {
    display: flex;
    gap: 8px;
    align-items: center;
    align-self: stretch;
  }

  .dateLabel,
  .dateValue {
    font-family: var(--font-avenir-next-condensed);
    font-size: 14px;
    font-weight: 700;
    line-height: 1em;
    color: #ffffff;
    text-align: left;
    letter-spacing: 0.02em;
  }

  .dateLine {
    flex: 1;
    height: 1px;
    background-color: #ffffff;
  }

  .timeInfo {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 240px;
  }

  .doorOpen,
  .eventStart {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
  }

  .doorOpen {
    gap: 54px;
  }

  .eventStart {
    gap: 42px;
  }

  .doorOpenText,
  .eventStartText,
  .doorOpenTime,
  .eventStartTime {
    font-family: var(--font-avenir-next-condensed);
    font-size: 20px;
    font-weight: 700;
    line-height: 1em;
    color: #ffffff;
    text-align: left;
    letter-spacing: 0.02em;
  }

  .location {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 32px;
  }

  .building {
    font-family: var(--font-avenir-next-condensed);
    font-size: 28px;
    font-weight: 700;
    line-height: 1em;
    color: #ffffff;
    text-align: left;
    letter-spacing: 0.02em;
  }

  .address {
    font-family: var(--font-noto-sans-jp);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.399999976158142em;
    color: #ffffff;
    text-align: left;
    letter-spacing: 0.02em;
  }

  .apply {
    margin-top: 32px;
  }

  .arrow {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 2px;
    margin-top: 2px;
    background-color: #ffffff;
    border-radius: 9999px;
  }

  .arrow::before,
  .arrow::after {
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    width: 8px;
    height: 2px;
    content: "";
    background-color: #ffffff;
    border-radius: 9999px;
    transform-origin: calc(100% - 1px) 50%;
  }

  .arrow::before {
    transform: rotate(45deg);
  }

  .arrow::after {
    transform: rotate(-45deg);
  }

  .map {
    position: relative;
    z-index: var(--intro-contents-z-index);
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
  }

  .mapInner {
    padding: 8px;
  }

  .map::before,
  .map .mapInner::before,
  .map .mapInner::after {
    position: absolute;
    inset: 0;
    z-index: -1;
    content: "";
    border-radius: 32px;
  }
  .map::before {
    background: var(--grad-color-1);
    mix-blend-mode: var(--grad-blend-mode-1);
  }
  .map .mapInner::before {
    background: var(--grad-color-2);
    mix-blend-mode: var(--grad-blend-mode-2);
  }
  .map .mapInner::after {
    background: var(--grad-color-3);
    mix-blend-mode: var(--grad-blend-mode-3);
  }

  .embed {
    background-color: #fff;
    border: 0;
    border-radius: 24px;
    display: block;
  }

  @media (--breakpoint-sp) {
    .container::after {
      bottom: -30vw;
    }

    .content {
      flex-direction: column;
      gap: 64px;
      align-self: stretch;
      padding-top: 60px;
    }

    .info {
      align-self: stretch;
    }

    .title {
      gap: 8px;
      align-self: stretch;
      line-height: 1.4;
    }

    .emphasis {
      line-height: 1em;
    }

    .message {
      font-size: 14px;
    }

    .datetime {
      gap: 8px;
    }

    .dateInfo {
      gap: 8px;
      align-self: stretch;
    }

    .dateLabel,
    .dateValue {
      font-size: 14px;
      letter-spacing: 0.02em;
    }

    .timeInfo {
      gap: 4px;
      width: 240px;
    }

    .doorOpen {
      gap: 54px;
    }

    .eventStart {
      gap: 42px;
    }

    .doorOpenText,
    .eventStartText,
    .doorOpenTime,
    .eventStartTime {
      font-size: 20px;
      letter-spacing: 0.02em;
    }

    .location {
      gap: 4px;
    }

    .building {
      font-size: 28px;
      letter-spacing: 0.02em;
    }

    .address {
      font-size: 16px;
      line-height: 1.399999976158142em;
      letter-spacing: 0.02em;
    }

    .apply {
      align-self: stretch;
    }
    .mapInner {
      padding: 4px;
    }

    .embed {
      max-width: calc(100% - 44px);
      height: 100%;
      aspect-ratio: 1/1;
      border-radius: 32px;
    }
  }
</style>
