---
import { getImage } from "astro:assets";
import ShixkuiImage from "@/assets/kv-shikxui-bg.png";
const shixkuiImage = await getImage({ src: ShixkuiImage, format: "webp" });
---

<div class="bg"></div>

<style define:vars={{ image: `url(${shixkuiImage.src})` }}>
  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background:
      linear-gradient(
        color-mix(in srgb, var(--bg-light) 65%, transparent),
        color-mix(in srgb, var(--bg-light) 65%, transparent)
      ),
      var(--image) center center / cover no-repeat;
    mix-blend-mode: overlay;
  }
</style>
