<div class="bg"></div>

<style>
  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background:
      linear-gradient(
        color-mix(in srgb, var(--bg-light) 50%, transparent),
        color-mix(in srgb, var(--bg-light) 50%, transparent)
      ),
      url("../assets/kv-shikxui-bg.png") center center / cover no-repeat;
    mix-blend-mode: overlay;
  }
</style>
