---
import GitHubLogoImage from "@/assets/github-logo.svg";
import XLogoImage from "@/assets/x-logo.svg";

type Props = {
  xLink: string;
  githubLink: string;
  size?: "small" | "large";
};

const { xLink, githubLink, size = "small" }: Props = Astro.props;
---

<ul class:list={["list", size === "small" ? "small" : "large"]}>
  {
    [<XLogoImage />, <GitHubLogoImage />].map((icon, index) => (
      <li>
        <a
          href={index === 0 ? xLink : githubLink}
          target="_blank"
          rel="noopener noreferrer"
          class:list={[
            "item",
            {
              github: index === 1,
              x: index === 0,
            },
            size === "small" ? "small" : "large",
          ]}
        >
          {icon}
        </a>
      </li>
    ))
  }
</ul>

<style>
  @import "../css/vars.css";
  @import "../css/utils.css";

  .list {
    display: flex;
    gap: 4px;
    padding: 0;
    list-style: none;
  }
  .list.large {
    gap: 8px;
  }
  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    background-color: #fff;
  }
  .item.small {
    width: 20px;
    height: 20px;
    border-radius: 4px;
  }
  .item.large {
    width: 48px;
    height: 48px;
    border-radius: 8px;
  }
</style>
