:root {
  /* z-index */
  --base-z-index: 0;
  --header-z-index: 50;
  --kv-z-index: 40;
  --intro-decoration-z-index: 20;
  --intro-contents-z-index: 30;
  --apply-button-z-index: 100;

  /* color */
  --bg-light: #041f30;
  --bg-dark: #030c12;
  --bg-darken: #01101b; /*Figma上では実際には使われていないが、デザイン再現のために用意 */

  /* 上から順にグラデーションを重ねる */
  --grad-color-1: linear-gradient(90deg, #041f30 0%, #ce0134 100%);
  --grad-blend-mode-1: normal;
  --grad-color-2: linear-gradient(86.6deg, #ce0134 26.54%, #aed6bc 72.19%);
  --grad-blend-mode-2: plus-lighter;
  --grad-color-3: linear-gradient(84.83deg, #aed6bc 4.14%, #041f30 102.21%);
  --grad-blend-mode-3: hard-light;
  --grad-color-4: rgba(0, 0, 0, 0.2);
  --grad-blend-mode-4: normal;

  /* font */
  --font-avenir-next-condensed: "Avenir Next Condensed", sans-serif;
  --font-noto-sans-jp: "Noto Sans JP", sans-serif;
}
