---
import Header from "@/components/Header.astro";
import { getImage } from "astro:assets";

import Texture from "@/assets/bg-texture.png";

const TextureImage = await getImage({
  src: Texture,
  quality: 80,
  format: "webp",
});
---

<Header />
<main class="bg">
  <div class="texture"></div>
  <slot />
</main>

<style define:vars={{ texture: `url(${TextureImage.src})` }}>
  @import "../css/vars.css";

  .bg {
    position: relative;
  }
  .texture {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: var(--texture);
    background-repeat: repeat;
    background-size: 680px 871px;
    background-blend-mode: color-burn;
  }

  @supports (mix-blend-mode: plus-darker) {
    .texture {
      mix-blend-mode: plus-darker;
    }
  }
</style>
