---
import "@/css/foundation.css";
import ogImage from "@/assets/og-image.png";
const canonicalURL = new URL(Astro.url, Astro.site);
---

<!doctype html>
<html lang="ja">
  <head prefix="og: https://ogp.me/ns#">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta color-scheme="dark" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Frontend Conference Tokyo</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <meta
      property="description"
      content="フロントエンドカンファレンス東京は「フロントエンドを次世代に」をテーマとして開催する技術カンファレンスです。"
    />
    <meta property="og:title" content="Frontend Conference Tokyo 2025" />
    <meta
      property="og:description"
      content="フロントエンドカンファレンス東京は「フロントエンドを次世代に」をテーマとして開催する技術カンファレンスです。"
    />
    <meta property="og:image" content={ogImage.src} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL.toString()} />
    <meta property="og:site_name" content="Frontend Conference Tokyo" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" content="@fec_tokyo" />
  </head>
  <body>
    <slot />
  </body>
</html>
